@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');
body{
  margin: 0;
  
}
h2, h3{
  font-weight: 400;
}
body {
  background: whitesmoke;
  font-family: 'Quicksand', sans-serif;
}
h1{
  -webkit-margin-before: 2em;
}
section{
  padding: 1em 0.5em;
  word-wrap: break-word;
}
.container {
  width: 95%;
  max-width: 1000px;
  margin: 0 auto;
}

header {
  width: 100%;
  background: rgba(0, 0, 0,1);
  color: rgb(230, 199, 26);
  padding: 1em 0;
  position: fixed;
  box-shadow: 0 9px 28px rgba(0,0,0, 0.3);
}

header::after {
  content: '';
  clear: both;
  display: block;
}

.logo {
  float: left;
  font-size: 1rem;
  margin: 0;
  padding: 0.3rem 0;
  text-transform: uppercase;
  font-weight: 700;
}

.logo span {
  font-weight: 400;
}

.site-nav {
  position: absolute;
  top: 100%;
  right: 0%;
  
  background-color: rgba(70, 70, 85,0.75);
  border-radius: 0 0 1em 1em;
  display: none;
  transition: display 0.3s ease-in;
  -webkit-transition: display 0.3s ease-in;
}

.site-nav--open {
  display: block;
}

.site-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-nav li {
  border-bottom: 1px solid #575766;
}

.site-nav li:last-child {
  border-bottom: none;
}

.site-nav a {
  color: #fff;
  display: block;
  padding: 0 0.5em;
  text-transform: uppercase;
  text-decoration: none;
}

.site-nav a:hover,
.site-nav a:focus {
  background: #E4B363;
  color: #464655;
}

.site-nav--icon {
  display: inline-block;
  font-size: 1.5em;
  margin-right: 1em;
  width: 1.1em;
  text-align: right;
  color: rgba(255,255,255,.7);
}

.menu-toggle {
  padding: 1em 0.3em;
  position: absolute;
  top: .5em;
  right: .5em;
  cursor: pointer;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  content: '';
  display: block;
  background: #EBEBD3;
  height: 3px;
  width: 1.75em;
  border-radius: 3px;
  transition: all ease-in-out 500ms;
}

.hamburger::before {
  transform: translateY(-6px);
}

.hamburger::after {
  transform: translateY(3px);
}

.open .hamburger {
  transform: rotate(45deg);
}

.open .hamburger::before {
  opacity: 0;
}

.open .hamburger::after {
  transform: translateY(-3px) rotate(-90deg);
}


li{
  padding: 0.3rem 0;
}

#cover{
  width: 100%;
  box-shadow: 0 19px 38px rgba(0,0,0, 0.3), 0 15px 12px rgba(0,0,0, 0.2);
  margin-top:4rem;
}

.photo{
  width: 100%;
}
.imgContainer{
  margin: 0.3rem;
  box-shadow: 0 9px 18px rgba(0,0,0, 0.3), 0 5px 8px rgba(0,0,0, 0.2);
}


#contact a {
  
  color: #000;
} 

#contact ul {
  list-style: none;
} 


    
.col4{
  width: 32%;
}      

.col12{
  width: 100%;
}         
.row{
  padding: 0.5rem;
  overflow: hidden;     
} 
.col{
  float: left;
  box-sizing: border-box;
}



@media (min-width: 770px) {
  
  .menu-toggle {
    display: none;
  }
  .site-nav {
    height: auto;
    position: relative;
    background: transparent;
    float: right;
    display:block;
  }
  
  .site-nav li {
    display: inline-block;
    border: none;
  }

  
  .site-nav a:hover,
  .site-nav a:focus {
    background: transparent;
  }
  
  .site-nav--icon {
    display: none;
  }
  
}

@media (max-width:769px){
  .col4{
    width: 48%;
  }
  .logo span {
    font-size: 0.7em;
  }
  .logo{
    padding: 0;
  }
  .site-nav a {
    padding: 0 0.5em;
  }
  header{
    height: 1.5rem;
    padding: 0.5rem 0;
  }
 
  .menu-toggle{
    padding: 0.5rem;
  }

  .site-nav--open {
    width: 100%;
  }

}


@media (max-width:500px){
  .col4{
    width: 100%;
  }
}